@charset "UTF-8";
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCE6F4;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

.brand-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .brand-title {
    width: 80%;
  }
}
.navbar-links {
  width: 60%;
  display: flex;
  justify-content: center;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #E30C99;
  padding: 1rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.navbar-links li a:hover {
  color: white;
}
.navbar-links li a:active {
  background-color: white;
}

.brand-title a {
  text-decoration: none;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #E30C99;
  border-radius: 10px;
}

@media (max-width: 638px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links li a:hover {
    background-color: white;
  }

  .navbar-links.active {
    display: flex;
  }
}
.nav-logo {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: #E30C99;
  text-decoration: none;
}

.header-bulb {
  height: 1.5rem;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.flexbox__image {
  flex: 1 100%;
  z-index: 1;
}
.flexbox__news {
  flex: 1;
  padding: 2rem;
  margin-top: -200px;
  background-color: #E30C99;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flexbox__about {
  flex: 1;
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .flexbox__news {
    margin-top: auto;
    width: 100%;
  }

  .flexbox__about {
    width: 100%;
  }
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  line-height: 46px;
  color: #E30C99;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.p-about {
  color: #E30C99;
}

.h2-news {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #F6B6E0;
}

.p-news {
  color: white;
}

.button-esaias, .button-products, .button-contact {
  width: 20rem;
  height: 4.1rem;
  border-radius: 40px;
}

.button-contact {
  background: #F6B6E0;
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  margin-top: 30px;
}
.button-contact:hover {
  background: #E30C99;
}

.button-products {
  background: #FCE6F4;
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #E30C99;
  border: none;
  padding: 5px;
  margin-top: 30px;
}
.button-products:hover {
  background: #FFFFFF;
}

.esaias-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.esaias-container {
  background-color: #FCE6F4;
  margin-top: -150px;
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.esaias-column {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.esaias-image {
  z-index: 1;
}

.h3-esaias {
  font-size: 30px;
  line-height: 42px;
  color: #E30C99;
  margin-left: 20px;
}

.p-esaias {
  line-height: 23px;
  color: #E30C99;
  margin-top: 20px;
  margin-left: 20px;
}

.button-esaias {
  background: white;
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #E30C99;
  border: none;
  padding: 5px;
  margin-top: 30px;
}
.button-esaias:hover {
  background: #FFFFFF;
  opacity: 0.6;
}

footer {
  background-color: #E30C99;
  bottom: 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  min-height: 9rem;
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-logo {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .footer-logo {
    display: flex;
    justify-content: center;
  }
}
.footer-image {
  width: 11em;
  padding: 10px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .footer-info {
    display: flex;
    flex-direction: column;
  }
}
.footer-contact {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .footer-address {
    padding: 3.5%;
  }
}
.footer-ul {
  list-style-type: none;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-ul li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}

.footer-icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .footer-icons {
    width: 100%;
    max-width: 60%;
    padding: 2%;
  }
}
/* GLÖM EJ HOVER EFFEKTER */
.fa-instagram {
  color: #FFFFFF;
  font-size: 24px;
}

.fa-linkedin {
  color: #FFFFFF;
  font-size: 23px;
}

.fa-facebook-square {
  color: #FFFFFF;
  font-size: 23px;
}

.fa-twitter-square {
  color: #FFFFFF;
  font-size: 23px;
}

/*# sourceMappingURL=index.css.map */
